* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar-container {
    display: flex;
}

.content {
    margin-left: 270px;
    margin-top: 15px;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.sidebar {
    background: #1e293b;
    color: #fff;
    height: 100vh;
    width: 250px;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
}

.routes {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link {
    display: flex;
    color: #fff;
    gap: 10px;
    padding: 5px 10px;
    font-size: 20px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

a {
    text-decoration: none;
}

.link:hover {
    border-right: 4px solid white;
    background: #64748b;
    color: white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
}

.link_text {
    white-space: nowrap;
    font-size: 15px;
}